<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263670518044-23iiu82kt3argb8b88pv9eq4qrt9o7kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263670518044-23iiu82kt3argb8b88pv9eq4qrt9o7kc</string>
	<key>API_KEY</key>
	<string>AIzaSyCqu_maO4swyCSUczXLVekBFs03wIVOPtU</string>
	<key>GCM_SENDER_ID</key>
	<string>263670518044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>story-3d91e</string>
	<key>STORAGE_BUCKET</key>
	<string>story-3d91e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263670518044:ios:bcde67f78828d39d46aad9</string>
</dict>
</plist>