<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hai_vuong_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
				<key>dateExpires</key>
				<string>22/06/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52D56DA9E61010F8DB1A734BAD2EC7CEA4560E38</string>
						<key>dateExpires</key>
						<string>22/06/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM9P8XM9T5</string>
						<key>name</key>
						<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BM9P8XM9T5.haivuongtruyen.nextsol.vn</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BM9P8XM9T5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BM9P8XM9T5.haivuongtruyen.nextsol.vn</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7f2c5ba4-75ca-4546-8266-493aaa889890</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: haivuongtruyen.nextsol.vn</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BM9P8XM9T5</string>
				<key>name</key>
				<string>NEXT SOLUTIONS JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
